:root {
  --bg-dark: #1a2f3a;

  --logo-height: 150px;
  --header-height:150px;
  --aside-width: 230px;
  --footer-height:40px;


  --shadow:
      0 2px 23px 0 rgba(0,0,0,0.1),
      0 2px 49px 0 rgba(0,0,0,0.06),
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

/* Layout em Grid*/

.app{
  margin: 0px;
  display: grid;
  grid-template-columns: var(--aside-width) 1fr;
  grid-template-rows: 
      var(--header-height)
      1fr
      var(--footer-height);
  grid-template-areas: 
      "logo header"
      "menu content"
      "menu footer";

  height: 100vh;
  background-color: #f5f5f5;
}

.logo {
  grid-area:logo;
}

.header {
  grid-area:header;
}
.menuArea {
  grid-area:menu;
}
.content {
  grid-area:content;
}
.footer{
  grid-area:footer;
}


